body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather";
  line-height: 2;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}

h1 {
  margin: 50px 0 0 0;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

/*
div {
  background-color:#eaf6f6 ;
}
*/
/*********************class selector****************/
.Top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
  background-color: #eaf6f6;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.middle-container {
  margin: 50px 0;
}
.bottom-container {
  padding: 50px 0 20px;
  background-color: #66bfbf;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.footer-link {
  color: #11999e;
}

.programmer {
  font-weight: normal;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.html {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.football {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.paragraph {
  color: #40514e;
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.copy {
  color: #eaf6f6;
  font-size: 0.76rem;
  padding: 20px 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  border-radius: 29px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 19px;
  -webkit-box-shadow: 0 -4px 13px 0 #88b3f3;
  -moz-box-shadow: 0 -4px 13px 0 #88b3f3;
  box-shadow: 0 -4px 13px 0 #88b3f3;
  text-shadow: 0 -2px 0 #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: groove #337fed 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #372cb3);
  background-image: -moz-linear-gradient(top, #30e3cb, #372cb3);
  background-image: -ms-linear-gradient(top, #30e3cb, #372cb3);
  background-image: -o-linear-gradient(top, #30e3cb, #372cb3);
  background-image: -webkit-gradient(to bottom, #30e3cb, #372cb3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
